<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<div class="container">
<%= form_tag "/novy/mista", :authenticity_token => true do %>
<div class="form-group">
	<label for="input_nazev_hry">Název hry</label>
	<input type="text" name="nazev_hry" class="form-control" id="input_nazev_hry" placeholder="Vaše jméno a příjmení">
</div>
<div class="form-group">
		<label for="inputName">Název spolku</label>
		<input type="text" name="nazev_spolku" class="form-control" id="input_nazev_spolku" placeholder="Vaše jméno a příjmení">
</div>
<div class="form-group">
		<label for="input_delka">Délka</label>
		<input type="text" name="delka" class="form-control" id="input_delka" placeholder="Vaše jméno a příjmení">
</div>
<div class="form-group">
		<label for="input_sirka">Šířka</label>
		<input type="text" name="sirka" class="form-control" id="input_sirka\w\" placeholder="Vaše jméno a příjmení">
</div>
<input type="submit" class="btn btn-default" value="Rezervovat">
<% end %>
</div>