<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<div class="container">
<div class="row">
<%= form_tag "/kontrola", :authenticity_token => true do %>
<table class="sedadla">
	<tr>
		<th colspan="30" style="text-align: center">Jeviště</th>
	</tr>
<% ('a'..('a'.ord + @rady.to_i - 1).chr).each do |rada| %>
<tr>
<th><%=rada%></th>
<%  (1..(@sedadla.to_i)).each do |zidle| %>
<td>
<% if zidle != 8 && zidle != 9 then %>
<label class="btn btn-primary zidle">
<input type="checkbox" name="zidle[<%=rada%>][<%=zidle%>]">
</label>
<% end %>

</td>
<%  end %>
</tr>
<% end %>
</table>
<% end %>
</div>
</div>
