<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<div class="container">
	<h1>Rezervace lístků</h1>

<% if !@errors.empty? then %>
	<% @errors.each do |error| %>
	<div class="alert alert-danger">
		<strong><%= error[:title] %></strong>
		<p><%= error[:text] %></p>
	</div>
	<% end %>
	<a role="button" style="color: #fff;" class="btn btn-danger col-sm-offset-11 btn-lg" href = "/rezervace/<%= params[:id]%>">Zpět</a>
<% else %>
	<%= form_tag "/rezervace" + params[:id] + "/done",  {:authenticity_token => true, :class => "form-horizontal"} do %>
<%=@sdtaken%>
	<div class="col-md-7" style="text-align: right">

		<table class="seats">
			<tr>
				<td></td><th colspan="<%= @performance.seats %>" style="text-align: center">Jeviště</th>
			</tr>
	<tr>
				<td></td>
			<%  (1..@performance.seats).each do |seat| %>
				<th><%= seat %></th>
			<% end %>
			</tr>
		<% ('a'..('a'.ord + @performance.rows - 1).chr).each do |row| %>
			<tr>
				<th><%= row %></th>

			<%  (1..@performance.seats).each do |seat| %>
				<td><label class="btn <%= if !@seats[row].nil? && !@seats[row][seat.to_s].nil? then "btn-success" else "btn-default" end %> seat disabled ">
				</label></td>
			<% end %>

			</tr>
		<% end %>

		</table>
	</div>

	<div class="col-md-5">

		<div class="form-group">
			<label class="col-sm-4 control-label">Jméno</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= params[:jmeno] %></p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Email</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= params[:email] %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Soubor</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.play.club.name %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Inscenace</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.play.name %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Místo</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.place %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Čas</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.datum %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Vstupné</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.price? ? @performance.price : "Vstupné dobrovolné" %></p>
			</div>
		</div>

<!--		<div class="form-goup">
			<label class="col-sm-4 control-label">Počet lístků</label>
			<div class="col-sm-8">
				<p class="form-control-static" id="pocet_listku">0</p>
			</div>
		</div>
-->
		<div class="form-goup">
			<label class="col-sm-4 control-label">Cena celkem</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.price? ? @performance.price * @totalseats : "Vstupné dobrovolné" %></p>
			</div>
		</div>

		
		<div class="form-goup">
			<div class="col-sm-offset-4 col-sm-8">
				<a role="button" class="btn btn-default" href = "/rezervace/<%= params[:id]%>/dokoncit">Dokončit</a>
			</div>
		</div>

	</div>

	<% end %>
<% end %>

</div>
