<div class="alert alert-danger">
	<strong>Sedadla už jsou zarezervovaná</strong>
	<p>Pravděpodobně je rzervoval někdo těsně před Vámi, nebo proběhla chyba při rezervaci, prosím zkontrolujte svůj email a složku spam, jestli rezervace proběhla.</p>
	<p>Pokud problém přetrvává napište na email ondrej.vlk@jabko.net</p>
</div>
<a role="button" style="color: #fff;" class="btn btn-danger col-sm-offset-11 btn-lg" href = "/rezervace/<%= params[:id]%>">Zpět</a>