<div class="container">
	
<% if !@errors.empty? then %>
	<% @errors.each do |error| %>
	<div class="alert alert-danger">
		<strong><%= error[:title] %></strong>
		<p><%= error[:text] %></p>
	</div>
	<% end %>

<% else %>
<%= render "top" %>
	<%= form_tag "/rezervace/" + params[:id] + "/kontrola",  {:authenticity_token => true, :class => "form-horizontal"} do %>
	<div class="col-md-7" style="text-align: right">

		<table class="seats">
			<tr>
				<td></td><th colspan="<%= @performance.seats %>">Jeviště</th>
			</tr>

			<tr>
				<td></td>
			<%  (1..@performance.seats).each do |seat| %>
				<th><%= seat %></th>
			<% end %>
			</tr>

		<% ('a'..('a'.ord + @performance.rows - 1).chr).each do |row| %>
			<tr>
				<th><%= row %></th>

			<%  (1..@performance.seats).each do |seat| %>
				<td>
				<% if !@taken[(row.ord - 'a'.ord)].nil? && @taken[(row.ord - 'a'.ord)].index(seat) != nil then %>
					<label class="btn btn-danger seat disabled">
					</label>
				<% else %>
					<label class="btn btn-primary seat">
						<input type="checkbox" name="seat[<%=row%>][<%=seat%>]">
					</label>
				<% end %>
				</td>
			<% end %>

			</tr>
		<% end %>

		</table>
	</div>

	<div class="col-md-5">
		<div class="form-group">
			<label for="inputName" class="col-sm-4 control-label">Jméno</label>
			<div class="col-sm-8">
				<input type="text" name="jmeno" class="form-control input-sm" id="inputName" placeholder="Vaše jméno a příjmení" required>
			</div>
		</div>

		<div class="form-group">
			<label for="inputEmail" class="col-sm-4 control-label">Email</label>
			<div class="col-sm-8">
				<input type="email" name="email" class="form-control input-sm" id="inputName" placeholder="Váš e-mail" required>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Soubor</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.play.club.name %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Inscenace</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.play.name %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Místo</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.place %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Čas</label>
			<div class="col-sm-8">
				<p class="form-control-static"><%= @performance.datum %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Vstupné</label>
			<div class="col-sm-8">
				<p class="form-control-static" id="vstupne"><%= @performance.price? ? @performance.price : "Vstupné dobrovolné" %></p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Počet lístků</label>
			<div class="col-sm-8">
				<p class="form-control-static" id="pocet_listku">0</p>
			</div>
		</div>

		<div class="form-goup">
			<label class="col-sm-4 control-label">Cena celkem</label>
			<div class="col-sm-8">
				<p class="form-control-static" id="celkem">0</p>
			</div>
		</div>

		
		<div class="form-goup">
			<div class="col-sm-offset-4 col-sm-8">
				<input type="submit" class="btn btn-default" value="Pokračovat">
			</div>
		</div>

	</div>

	<% end %>
<% end %>

</div>
