<div class="container">
	<div class="alert alert-success">
		<strong>Rezervace proběhla úspěšně</strong>
		<p>Informace ohledně platby Vám byly zaslány na e-mail. Pokud Vám email nepřišel zkontrolujte prosím složku spam, nebo nás kontaktujte na adrese ondrej.vlk@jabko.net.</p><p>Těšíme se na Vás :)</p>
	</div>
</div>
