<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<div class="container">
<h1>Rezervace lístků</h1>
<h2>Dva na kanapi 17.2.2014 19:00 - Café práh</h2>
<div class="row">
<%= form_tag "/kontrola", :authenticity_token => true do %>
<div class="col-md-8" style="text-align: right">
<table class="sedadla">
	<tr>
		<th colspan="30" style="text-align: center">Jeviště</th>
	</tr>
<% ("a".."j").each do |rada| %>
<tr>
<th><%=rada%></th>
<%  20.times do |zidle| %>
<td>
<% if zidle != 8 && zidle != 9 then %>
<label class="btn btn-default zidle disabled <%= if !@test[rada].nil? && !@test[rada][zidle.to_s].nil? then "rezervovano" else "nerezervovano" end %>">
<!--<%= check_box_tag 'zidle[]', rada.to_s+'|'+zidle.to_s %>-->
</label>
<% end %>

</td>
<%  end %>
</tr>
<% end %>
</table>
</div>
<div class="col-md-4">
	<dl class="dl-horizontal">
		<dt>Divadlo</dt>
		<dd>Stodola</dd>
		<dt>Hra</dt>
		<dd>Dva na kanapi</dd>
		<dt>Místo</dt>
		<dd>Café práh</dd>
		<dt>Čas</dt>
		<dd>17.ledna 2014 19:00</dd>
		<dt>Počet lístků</dt>
		<dd><span id="pocet_listku"></span></dd>
		<dt>Cena</dt>
		<dd><span id="cena_listku"></span></dd>
	</dl>
	<div class="form-group">
		<label for="inputName">Jméno</label>
		<input type="text" name="jmeno" class="form-control" id="inputName" placeholder="Vaše jméno a příjmení">
	</div>
	<div class="form-group">
		<label>Email</label>
		EMAIL
	</div>
	<input type="submit" class="btn btn-default" value="Rezervovat">
	
	<div id="listky"></div>
</div>
<% end %>
</div>
</div>
