<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<div class="container">
<h1>Rezervace lístků</h1>
<h2>Dva na kanapi 17.2.2014 19:00 - Café práh</h2>
<div class="row">
<%= form_tag "/kontrola",  {:authenticity_token => true, :class => "form-horizontal"} do %>

<div class="col-md-7" style="text-align: right">
<table class="sedadla">
	<tr>
		<th colspan="30" style="text-align: center">Jeviště</th>
	</tr>
<% ("a".."j").each do |rada| %>
<tr>
<th><%=rada%></th>
<%  20.times do |zidle| %>
<td>
<% if zidle != 8 && zidle != 9 then %>
<label class="btn btn-primary zidle">
<input type="checkbox" name="zidle[<%=rada%>][<%=zidle%>]">
<!--<%= check_box_tag 'zidle[]', rada.to_s+'|'+zidle.to_s %>-->
</label>
<% end %>

</td>
<%  end %>
</tr>
<% end %>
</table>
</div>
<div class="col-md-5">
	<div class="form-group">
		<label for="inputName" class="col-sm-4 control-label">Jméno</label>
		<div class="col-sm-8">
			<input type="text" name="jmeno" class="form-control" id="inputName" placeholder="Vaše jméno a příjmení">
		</div>
	</div>

	<div class="form-group">
		<label for="inputEmail" class="col-sm-4 control-label">Email</label>
		<div class="col-sm-8">
			<input type="email" name="email" class="form-control" id="inputName" placeholder="Váš e-mail">
		</div>
	</div>

	<div class="form-goup">
		<label class="col-sm-4 control-label">Divalo</label>
		<div class="col-sm-8">
			<p class="form-control-static">DŽO</p>
		</div>
	</div>

	<div class="form-goup">
		<label class="col-sm-4 control-label">Hra</label>
		<div class="col-sm-8">
			<p class="form-control-static">IMPOŠOU</p>
		</div>
	</div>

	<div class="form-goup">
		<label class="col-sm-4 control-label">Místo</label>
		<div class="col-sm-8">
			<p class="form-control-static">Zkušebna Sivice (naproti hospody)</p>
		</div>
	</div>

	<div class="form-goup">
		<label class="col-sm-4 control-label">Čas</label>
		<div class="col-sm-8">
			<p class="form-control-static">19.1.2014 19:00</p>
		</div>
	</div>

	<div class="form-goup">
		<label class="col-sm-4 control-label">Počet lístků</label>
		<div class="col-sm-8">
			<p class="form-control-static" id="pocet_listku">0</p>
		</div>
	</div>

	<div class="form-goup">
		<label class="col-sm-4 control-label">Cena celkem</label>
		<div class="col-sm-8">
			<p class="form-control-static">Vstupné dobrovolné</p>
		</div>
	</div>

	
	<div class="form-goup">
		<div class="col-sm-offset-4 col-sm-8">
			<input type="submit" class="btn btn-default" value="Pokračovat">
		</div>
	</div>

</div>
<% end %>
</div>
</div>
