<div class="container">

<%= form_for(resource, :class => "form-signin", :as => resource_name, :url => session_path(resource_name),  :role => "form") do |f| %>
<h2 class="form-signin-heading">Přihlašte se</h2>
 <div class="input-group">
  <%= f.text_field :login, :autofocus => true, :class => "form-control login" %>
	<div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Divadlo <span class="caret"></span></button>
	        <ul class="dropdown-menu pull-right">
	        <% @clubs.each do |c| %>
	          <li><a data-login="<%=c.link%>" class="divadlo" href=""><%=c.name%></a></li>
	        <% end %>
	        </ul>
	      </div><!-- /btn-group -->
	    </div><!-- /input-group -->
  <%= f.password_field :password, :class => "form-control password" %>

  <% if devise_mapping.rememberable? -%>
 	 <label class="checkbox">
    <%= f.check_box :remember_me %> Zapamatovat
   </label>
  <% end -%>

  <%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block" %>
<% end %>
</div>