<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Rezervace na hru  <%= @reservation.performance.play.name %> divadla <%= @reservation.performance.play.club.name %></h3>
    <p><b><%= @reservation.performance.place%> - <%= @reservation.performance.datum %></b></p>
    <p><b>Byly rezerovovány tyto místa:</b><br>
	 <% @reservation.seats.each do |s| %>
		řada <%= ( s.row + 'a'.ord ).chr %>, sedadlo <%= s.seat.to_s %><br>
	 <% end %>
  </p>
  <p><b>Celkem míst:</b> <%= @reservation.seats.count.to_s %></p>
  <p><b>Celková cena:</b> <%= ( @reservation.seats.count * @reservation.performance.price ).to_s %></p>
  <p>Prosíme o úhradu <b><%= ( @reservation.seats.count * @reservation.performance.price ).to_s %> Kč</b> na účet <b><%= @reservation.performance.play.club.bank_account %></b> s variabilním symbolem <b><%= @reservation.vs %></b>
  </body>
</html>
