// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.new_user .form_signin-heading,
.new_user .checkbox {
  margin-bottom: 10px;
}
.new_user .checkbox {
  font-weight: normal;
}

