// Place all the styles related to the rezervace controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seat {
	width: 20px;
	height: 20px;
	display: block;
}

.seat.active {
	background-color: #090;
}

.seat input[type="checkbox"] {
	display:none;
}

table.seats {
	margin: 0 auto;
}

table.seats td {
	width: 20px;
	height: 20px;
}

table.seats th {
	text-align: center;
}