<div class="container">
<% if @performances.nil? then %>
	Nejsou naplánované žádné další představení<%= @club_name.nil? ? "" : " divadla " + @club_name %>.
<% else %>
<h2>Nejbližší představení<%= @club_name.nil? ? "" : " divadla " + @club_name %>.</h2>
	<table class = "table table-hover table-condensed">
		<tr>
			<th>Hra</th>
			<%= @club_name.nil? ? content_tag(:th, "Divadlo") : "" %>
			<th>Čas</th>
			<th>Místo</th>
			<th></th>
		</tr>
<% @performances.each do |p| %>
		<tr class="performance">
			<td><%= p.play.name %></td>
			<%= @club_name.nil? ? content_tag(:td, content_tag( :a, p.play.club.name, href: p.play.club.link ) ) : "" %>
			<td><%= p.datum %></td> 
			<td><%= p.place %></td>
			<td><%= link_to "Rezervovat lístek", "rezervace/" + p.id.to_s %></td>
<% end %>
	</table>
	
<% end %>
</div>