<div class="container">
<% if @performances.nil? then %>
	Nejsou naplánované žádné další představení<%= @club_name.nil? ? "" : " divadla " + @club_name %>.
<% else %>
	<table class = "table table-hover table-condensed">
		<tr>
			<th>Hra</th>
			<th>Spolek</th>
			<th>Čas</th>
			<th>Místo</th>
			<th></th>
		</tr>
<% @performances.each do |p| %>
		<tr class="performance">
			<td><%= p.play.name %></td>
			<td><%= p.play.club.name %></td>
			<td><%= p.datum %></td> 
			<td><%= p.place %></td>
			<td><%= link_to "html", "info/" + p.id.to_s %> <%= link_to "pdf", "info/" + p.id.to_s + ".pdf" %></td>
<% end %>
	</table>
	
<% end %>
</div>