<% if @reservations.nil? %>
	Žádné rezervace
<% else %>
	<table class = "table table-hover table-condensed">
		<tr>
			<th>Představení</th>
			<th>Jméno</th>
			<th>Email</th>
			<th>Počet míst</th>
			<th>Místa</th>
			<th>VS</th>
		</tr>
	<% @reservations.each do |r| %>
		<tr>
			<td>
				<%= r.performance.play.club.name + " - " \
					+ r.performance.play.name + " - " \
					+ r.performance.place + " - " \
					+ r.performance.time.to_s
				%>
			</td> 
			<td><%= r.name %></td>
			<td><%= r.email %></td>
			<td><%= r.seats.count %></td>
			<td>
			<% r.seats.each do |s| %>
				<%= "[" + ( s.row + 'a'.ord ).chr + " " + s.seat.to_s + "] " %>
			<% end %>
			</td>
			<td><%= r.vs %></td>

		</tr>
	<%end%>
	</table>

<% end %>