<%# add navigation links to this file %>
<li<%= params[:controller] == 'list' ? ' class = active' : ''%>><%= link_to 'Nejbližší hry', root_path%></li>
<li><%= link_to 'Seznam divadel', "#divadla"%></li>
<li><%= link_to 'O projektu', "#about"%></li>
