<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rezervace" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rezervace" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       
       <%= yield %>
       <div class="alert alert-warning center container">
         <h4>Tato stránka je pořád ve vývoji</h4>
         <p>Jakékoliv chyby či připomínky prosím posílejte na email <strong>ondrej.vlk@jabko.net</strong></p>
       </div>
    </main>
	 <footer>
		 <img src="/loga/buta_create.png">
		 <img src="/loga/stodola.png">
		 <img src="/loga/amadis.png">
  	</footer>
  </body>
</html>
